<template>
    <template if:true={loading}>
        <lightning-spinner variant="brand" size="medium"></lightning-spinner>
    </template>    
    <template if:false={loading}>
        <lightning-card class="container">
            <template if:true={viewOnly}>
                <div class="slds-float_right slds-m-right_large">
                    <lightning-button label="Return to Quote Detail" onclick={closeQuickAction}></lightning-button>
                </div>
            </template>
            <template if:false={viewOnly}>
                <template if:true={quotePaymentComplete}>
                    <div class="slds-float_right slds-m-right_large">
                        <lightning-button label="Return to Quote Detail" onclick={handleNavigate}></lightning-button>
                    </div>
                </template>
                <template if:false={quotePaymentComplete}>
                    <div class="slds-float_right slds-m-right_large">
                        <lightning-button class="slds-m-right_large" variant="brand" label="Save" onclick={handleSaveRecord}></lightning-button>
                        <lightning-button-group>
                            <lightning-button label="Return to Quote Detail" onclick={handleNavigate} disabled={disableButtons}></lightning-button>
                            <lightning-button label="Modify Quote" onclick={gotoQLE} disabled={disableButtons}></lightning-button>
                            <lightning-button label="Additional Discount" onclick={openDiscountModal} disabled={disableButtons}></lightning-button>
                            <lightning-button label="Make Payment" onclick={openPaymentModal} disabled={disableButtons}></lightning-button>
                        </lightning-button-group>
                    </div>
                    <br>
                    <br>
                    <br>
                </template>
            </template>                        
            
            <div class="slds-align_absolute-center slds-text-heading_medium slds-m-left_large">
                <lightning-formatted-text value="Quote Summary "></lightning-formatted-text>
                &nbsp;
                <lightning-formatted-text value={quoteNumber}></lightning-formatted-text>
            </div>
            <div class="slds-align_absolute-center slds-text-heading_small slds-m-left_large">
                <lightning-formatted-text value={accountName}></lightning-formatted-text>
            </div>          

            <!-- promo table -->            
            <template if:false={quotePaymentComplete}>
                <div class="slds-m-around_large">
                    <div class="slds-size_3-of-4 slds-align_absolute-center">
                        <lightning-card title="Promotions" icon-name="utility:money">   
                            <div class="slds-box slds-theme_shade">            
                                <div class="border">
                                    <template if:true={promosAvailable}>
                                        <lightning-datatable
                                            class="slds-size_1-of-1"
                                            key-field="Id"
                                            data={promoData}
                                            hide-table-header
                                            columns={promoColumns}
                                            onrowselection={handleRowSelect}
                                            selected-rows={selectedRows}>
                                        <!--  max-row-selection=1-->
                                        </lightning-datatable>
                                    </template>
                                    <template if:false={promosAvailable}>
                                        <div class="slds-size_1-of-1 slds-m-left_large slds-m-right_large">
                                            <lightning-formatted-text value="No applicable promotions"></lightning-formatted-text>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </lightning-card> 
                    </div>
                </div>
            <!-- ORS checkbox out of scope for pilot-->
            <!-- <template if:true={displayORSCheckbox}>
                <div class="slds-m-around_large">
                    <lightning-input type="checkbox" label={orsVerbaige} name="orsCheck" onchange={handleORS} checked={ors}></lightning-input>
                </div>
            </template> -->

            <!-- installments combobox -->
                <div>
                    <div class="slds-float_left slds-m-left_large">
                        <lightning-formatted-text value="Installments"></lightning-formatted-text>
                    </div>   
                        <lightning-combobox 
                        class="slds-size_1-of-8 slds-m-left_large"
                        options={paymentTermsOptions}
                        value={installmentsValue}
                        onchange={updateMonthlyPayment}>
                    </lightning-combobox>
                    <lightning-formatted-text class="slds-m-left_large" value={creditCheckVerbaige}></lightning-formatted-text>
                </div>   
            </template>

            <!-- data table -->
            <!-- <template if:true={loading}>
                <lightning-spinner variant="brand" size="medium"></lightning-spinner>
            </template> -->
            <!-- <template if:false={loading}> -->
                <div class="slds-m-around_large border">
                    <table class="bg" width="100%">
                        <colgroup>
                            <col width="2%">
                            <col width="68%">
                            <col width="15%">
                            <col width="15%">
                        </colgroup>
                        <tbody>
                            <!-- top totals -->
                            <tr>
                                <td class="tableHeading" colspan="4"><strong><lightning-formatted-text value="YOUR PERSONALIZED ADT SMART & SECURE PLAN"></lightning-formatted-text></strong></td>
                            </tr>
                            <tr class="bg2">
                                <td colspan="2"><strong><lightning-formatted-text value="SMART HOME & SECURITY SOLUTION"></lightning-formatted-text></strong></td>
                                <td class="rightText"><strong><lightning-formatted-number value={atInstallTotalWithTaxes} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                <template if:true={showInstall}>      
                                    <td class="rightText"><strong><lightning-formatted-number value={totalMonthlyTaxes} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                    <!-- ^^^ holding monthly monitoring__c + ansc and qsp taxes ^^^ -->
                                </template>
                                <template if:true={showMonthly}>
                                    <template if:true={threePayOption}>
                                        <td class="rightText"><strong><lightning-formatted-number value={totalMonthlyTaxes} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                        <!-- ^^^ holding monthly monitoring__c + ansc and qsp taxes ^^^ -->
                                    </template>
                                    <template if:false={threePayOption}>
                                        <td class="rightText"><strong><lightning-formatted-number value={totalAfterDiscountsMonthly} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                    </template>
                                </template>
                            </tr>
                            <tr class="slds-p-around_medium dark">
                                <td colspan="2">&nbsp;</td>
                                <td class="rightText"><lightning-formatted-text value="Install"></lightning-formatted-text></td>
                                <td class="rightText"><lightning-formatted-text value="Monthly"></lightning-formatted-text></td>
                            </tr>
                            <!-- system products  -->
                            <template if:true={systemProducts}>
                                <tr>
                                    <td colspan="4"><strong>{systemVerbaige}</strong></td>
                                </tr>                            
                                <template for:each={systemBundle} for:item="sysBundle">         
                                    <tr key={sysBundle.Id}>                           
                                        <td><lightning-formatted-number value={sysBundle.SBQQ__Quantity__c}></lightning-formatted-number></td>
                                        <td><lightning-formatted-text value={sysBundle.SBQQ__ProductName__c}></lightning-formatted-text></td>
                                        <template if:true={showInstall}>
                                            <td class="rightText"><lightning-formatted-number value={sysBundle.Install__c} format-style="currency" currency-code="USD"></lightning-formatted-number></td>
                                            <td>&nbsp;</td>
                                        </template>
                                        <template if:true={showMonthly}>
                                            <td>&nbsp;</td>
                                            <td class="rightText"><lightning-formatted-number value={sysBundle.Monthly__c} format-style="currency" currency-code="USD"></lightning-formatted-number></td>
                                        </template>                                    
                                    </tr>
                                    <tr data-name="child-table" data-key={sysBundle.Id} key={sysBundle.Id}>
                                        <!-- <td>&nbsp;</td> -->
                                        <td class="noPadding" colspan="4">
                                            <c-qs-bundle-product
                                                bundle-id={sysBundle.Id}
                                                quote-lines={data}
                                                show-install={showInstall}
                                                show-monthly={showMonthly}
                                                installment-value={installmentsValue}>
                                            </c-qs-bundle-product>
                                        </td>
                                    </tr>
                                </template>
                                <tr>
                                    <td colspan="2" class="adtBlue rightText"><strong><lightning-formatted-text value="System Plan Subtotal:"></lightning-formatted-text></strong></td>
                                    
                                        <td class="adtBlue rightText"><strong><lightning-formatted-number value={sysInstallTotal} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                    <template if:true={showInstall}>
                                        <td>&nbsp;</td>
                                    </template>
                                    <template if:true={showMonthly}>
                                        <td class="adtBlue rightText"><strong><lightning-formatted-number value={sysMonthlyTotal} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                    </template>
                                </tr>
                            </template>

                            <!-- added tech products  -->
                            <template if:true={addedTechProducts}>
                                <tr>
                                    <td colspan="4"><strong>{addedTechVerbaige}</strong></td>
                                </tr>
                                <template for:each={addedTechBundle} for:item="atBundle">         
                                    <tr key={atBundle.Id}>                           
                                        <td><lightning-formatted-number value={atBundle.SBQQ__Quantity__c}></lightning-formatted-number></td>
                                        <td><lightning-formatted-text value={atBundle.SBQQ__ProductName__c}></lightning-formatted-text></td>
                                        <template if:true={showInstall}>
                                            <td class="rightText"><lightning-formatted-number value={atBundle.Install__c} format-style="currency" currency-code="USD"></lightning-formatted-number></td>
                                            <td>&nbsp;</td>
                                        </template>
                                        <template if:true={showMonthly}>
                                            <td>&nbsp;</td>
                                            <td class="rightText"><lightning-formatted-number value={atBundle.Monthly__c} format-style="currency" currency-code="USD"></lightning-formatted-number></td>
                                        </template>    
                                    </tr>
                                    <tr data-name="child-table" data-key={atBundle.Id} key={atBundle.Id}>
                                        <!-- <td>&nbsp;</td> -->
                                        <td class="noPadding" colspan="4">
                                            <c-qs-bundle-product
                                                bundle-id={atBundle.Id}
                                                quote-lines={data}
                                                show-install={showInstall}
                                                show-monthly={showMonthly}
                                                installment-value={installmentsValue}>
                                            </c-qs-bundle-product>
                                        </td>
                                    </tr>
                                </template>
                                <tr>
                                    <td colspan="2" class="adtBlue rightText"><strong><lightning-formatted-text value="System & Added Tech Subtotal:"></lightning-formatted-text></strong></td>
                                    <td class="adtBlue rightText"><strong><lightning-formatted-number value={systemAndAddedTechInstallSubtotal} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                    <template if:true={showInstall}>    
                                        <td>&nbsp;</td>
                                    </template>
                                    <template if:true={showMonthly}>
                                        <td class="adtBlue rightText"><strong><lightning-formatted-number value={systemAndAddedTechMonthlySubtotal} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                    </template>
                                </tr>
                            </template>

                            <!-- activation + permit fees products  -->
                            <template if:true={apfProducts}>
                                <tr>
                                    <td colspan="4"><strong>{apfVerbaige}</strong></td>
                                </tr>
                                <template for:each={apfBundle} for:item="apf">         
                                    <tr key={apf.Id}>                           
                                        <td><lightning-formatted-number value={apf.SBQQ__Quantity__c}></lightning-formatted-number></td>
                                        <td><lightning-formatted-text value={apf.SBQQ__ProductName__c}></lightning-formatted-text></td>
                                        <template if:true={showInstall}>
                                            <td class="rightText"><lightning-formatted-number value={apf.Install__c} format-style="currency" currency-code="USD"></lightning-formatted-number></td>
                                            <td>&nbsp;</td>
                                        </template>
                                        <template if:true={showMonthly}>
                                            <td>&nbsp;</td>
                                            <td class="rightText"><lightning-formatted-number value={apf.Monthly__c} format-style="currency" currency-code="USD"></lightning-formatted-number></td>
                                        </template>                                   
                                    </tr>
                                    <tr data-name="child-table" data-key={apf.Id} key={apf.Id}>
                                        <!-- <td>&nbsp;</td> -->
                                        <td class="noPadding" colspan="4">
                                            <c-qs-bundle-product
                                                bundle-id={apf.Id}
                                                quote-lines={data}
                                                show-install={showInstall}
                                                show-monthly={showMonthly}
                                                installment-value={installmentsValue}>
                                            </c-qs-bundle-product>
                                        </td>
                                    </tr>
                                </template>
                                <tr>
                                    <td colspan="2" class="adtBlue rightText"><strong><lightning-formatted-text value="Activation + Permit Fees Subtotal:"></lightning-formatted-text></strong></td>
                                    <!-- <template if:true={showInstall}> -->
                                        <td class="adtBlue rightText"><strong><lightning-formatted-number value={apfInstallTotal} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                        <!-- <td>&nbsp;</td> -->
                                    <!-- </template> -->
                                    <!-- <template if:true={showMonthly}> -->
                                        <!-- <td>&nbsp;</td> -->
                                        <td class="adtBlue rightText"><strong><lightning-formatted-number value={apfMonthlyTotal} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                    <!-- </template> -->
                                </tr>
                            </template>

                            <!-- real protection products  -->
                            <template if:true={realProtectionProducts}>
                                <tr>
                                    <td colspan="4"><strong>{realProtectionVerbaige}</strong></td>
                                </tr>
                                <template for:each={realProtectionBundle} for:item="rps">         
                                    <tr key={rps.Id}>                           
                                        <td><lightning-formatted-number value={rps.SBQQ__Quantity__c}></lightning-formatted-number></td>
                                        <td><lightning-formatted-text value={rps.SBQQ__ProductName__c}></lightning-formatted-text></td>
                                        <td>&nbsp;</td>
                                        <!-- THIS VALUE DOES NOT INCLUDE QSP -->
                                        <td class="rightText"><lightning-formatted-number value={rps.Monitoring__c} format-style="currency" currency-code="USD"></lightning-formatted-number></td>
                                        <!-- THIS VALUE INCLUDES QSP -->
                                        <!-- <td class="rightText"><lightning-formatted-number value={rps.Monthly__c} format-style="currency" currency-code="USD"></lightning-formatted-number></td> -->
                                        <!-- <template if:true={showInstall}>
                                            <td class="rightText"><lightning-formatted-number value={rps.Monitoring__c} format-style="currency" currency-code="USD"></lightning-formatted-number></td>
                                        </template>
                                        <template if:true={showMonthly}>
                                            <td class="rightText"><lightning-formatted-number value={rps.Monthly__c} format-style="currency" currency-code="USD"></lightning-formatted-number></td>
                                        </template>                                     -->
                                    </tr>
                                    <tr data-name="child-table" data-key={rps.Id} key={rps.Id}>
                                        <!-- <td>&nbsp;</td> -->
                                        <td class="noPadding" colspan="4">
                                            <c-qs-bundle-product
                                                bundle-id={rps.Id}
                                                quote-lines={data}
                                                show-monthly
                                                installment-value={installmentsValue}>
                                            </c-qs-bundle-product>
                                        </td>
                                    </tr>
                                </template>
                                <tr>
                                    <td colspan="2" class="adtBlue rightText"><strong><lightning-formatted-text value="Real Protection Services Subtotal:"></lightning-formatted-text></strong></td>
                                    <td>&nbsp;</td>
                                    <td class="adtBlue rightText"><strong><lightning-formatted-number value={realProtectionMonitoringTotal} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                    <!-- <template if:true={showInstall}>
                                        <td class="adtBlue rightText"><strong><lightning-formatted-number value={realProtectionMonitoringTotal} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                    this value DOES NOT INCLUDE QSP
                                    </template>
                                    <template if:true={showMonthly}>                                    
                                        <td class="adtBlue rightText"><strong><lightning-formatted-number value={realProtectionMonthlyTotal} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                    this value INCLUDES QSP
                                    </template>   -->
                                </tr>
                            </template>

                            <!-- applied promotions -->
                            <template if:true={promoApplied}>
                                <tr>
                                    <td colspan="4"><strong>{promoVerbaige}</strong></td>
                                </tr>
                                <!-- <tr class="slds-text-color_error" data-name="promo-table">
                                    <td>&nbsp;</td>
                                    <td><c-promo-table></c-promo-table></td>
                                    <td>&nbsp;</td>
                                    <td class="rightText"><lightning-formatted-number value="123.45" format-style="currency" currency-code="USD"></lightning-formatted-number></td>                                
                                </tr>                             -->
                                <template for:each={promoRows} for:item="promo">
                                    <tr key={promo.Id}>
                                        <td>&nbsp;</td>
                                        <td class="slds-text-color_error"><lightning-formatted-text value={promo.description}></lightning-formatted-text></td>             
                                        <!-- <template if:true={showInstall}> -->
                                            <td class="slds-text-color_error rightText"><lightning-formatted-number value={promo.value} format-style="currency" currency-code="USD"></lightning-formatted-number></td>
                                            <td>&nbsp;</td>  
                                        <!-- </template> -->
                                        <!-- <template if:true={showMonthly}> -->
                                            <!-- <template if:true={threePayOption}> -->
                                                <!-- <td class="slds-text-color_error rightText"><lightning-formatted-number value={promo.value} format-style="currency" currency-code="USD"></lightning-formatted-number></td> -->
                                                <!-- <td>&nbsp;</td> -->
                                            <!-- </template> -->
                                            <!-- <template if:false={threePayOption}> -->
                                                <!-- <td>&nbsp;</td>   -->
                                                <!-- <td class="slds-text-color_error rightText"><lightning-formatted-number value={promo.value} format-style="currency" currency-code="USD"></lightning-formatted-number></td> -->
                                                <!-- <td>&nbsp;</td> -->
                                            <!-- </template>                                                                           -->
                                        <!-- </template>  -->
                                    </tr> 
                                </template>
                                <!-- discount rows -->
                                <template for:each={discountRows} for:item="disc">
                                    <tr key={disc.Id}>
                                        <td>&nbsp;</td>
                                        <td class="slds-text-color_error"><lightning-formatted-text value={disc.description}></lightning-formatted-text></td>             
                                        <td class="slds-text-color_error rightText"><lightning-formatted-number value={disc.installValue} format-style="currency" currency-code="USD"></lightning-formatted-number></td>
                                        <td class="slds-text-color_error rightText"><lightning-formatted-number value={disc.monthlyValue} format-style="currency" currency-code="USD"></lightning-formatted-number></td>
                                        <!-- <template if:true={showInstall}> -->
                                            <!-- <td>&nbsp;</td> -->
                                        <!-- </template> -->
                                        <!-- <template if:true={showMonthly}> -->
                                            <!-- <template if:true={threePayOption}> -->
                                                <!-- <td>&nbsp;</td> -->
                                            <!-- </template> -->
                                            <!-- <template if:false={threePayOption}> -->
                                                <!-- <td class="slds-text-color_error rightText"><lightning-formatted-number value={disc.monthlyValue} format-style="currency" currency-code="USD"></lightning-formatted-number></td> -->
                                            <!-- </template>                                             -->
                                        <!-- </template>  -->
                                    </tr> 
                                </template>
                                <!-- <tr>
                                    <td colspan="2" class="adtBlue rightText"><strong><lightning-formatted-text value="Activation + Permit Fees Subtotal:"></lightning-formatted-text></strong></td> -->
                                        <!-- <td class="adtBlue rightText"><strong><lightning-formatted-number value={apfInstallTotal} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td> -->
                                        <!-- <td class="adtBlue rightText"><strong><lightning-formatted-number value="123.45" format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td> -->
                                        <!-- <td class="adtBlue rightText"><strong><lightning-formatted-number value={apfMonthlyTotal} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td> -->
                                        <!-- <td class="adtBlue rightText"><strong><lightning-formatted-number value="456.78" format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td> -->
                                <!-- </tr> -->
                            </template>

                            <!-- totals  -->
                            <tr class="white">
                                <td colspan="2"><strong><lightning-formatted-text value={totalsVerbaige}></lightning-formatted-text></strong></td>
                                <td class="rightText"><strong><lightning-formatted-text value="Install:"></lightning-formatted-text></strong></td>
                                <td class="rightText"><strong><lightning-formatted-text value="Monthly:"></lightning-formatted-text></strong></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="rightText"><strong><lightning-formatted-text value="System & Added Tech:"></lightning-formatted-text></strong></td>
                                <td class="rightText"><strong><lightning-formatted-number value={systemAndAddedTechInstallSubtotal} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                <template if:true={showInstall}>    
                                    <td>&nbsp;</td>
                                </template>
                                <template if:true={showMonthly}>
                                    <template if:true={threePayOption}>
                                        <!-- <td class="rightText"><strong><lightning-formatted-number value={systemAndAddedTechInstallSubtotal} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td> -->
                                        <td>&nbsp;</td>
                                    </template>
                                    <template if:false={threePayOption}>
                                        <!-- <td>&nbsp;</td> -->
                                        <td class="rightText"><strong><lightning-formatted-number value={systemAndAddedTechTotalMonthly} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                    </template>
                                </template>                            
                            </tr>
                            <tr>
                                <td colspan="2" class="rightText"><strong><lightning-formatted-text value="Real Protection Services:"></lightning-formatted-text></strong></td>
                                <td>&nbsp;</td>
                                <td class="rightText"><strong><lightning-formatted-number value={realProtectionMonitoringTotal} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                <!-- <template if:true={showInstall}>
                                    THIS VALUE DOES NOT INCLUDE QSP
                                    <td class="rightText"><strong><lightning-formatted-number value={realProtectionMonitoringTotal} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td> 
                                </template>                              
                                <template if:true={showMonthly}>
                                    THIS VALUE INCLUDES QSP
                                    <td class="rightText"><strong><lightning-formatted-number value={realProtectionMonthlyTotal} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td> 
                                </template>                                 -->
                            </tr>
                            <tr>
                                <td colspan="2" class="rightText"><strong><lightning-formatted-text value="Activation + Permit Fees:"></lightning-formatted-text></strong></td>
                                <td class="rightText"><strong><lightning-formatted-number value={apfInstallTotal} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>                                
                                <td class="rightText"><strong><lightning-formatted-number value={apfMonthlyTotal} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>                                
                            </tr>
                            <template if:true={promoApplied}>
                                <tr class="white slds-text-color_error">
                                    <td class="rightText" colspan="2"><lightning-formatted-text value="(LESS DISCOUNTS)"></lightning-formatted-text></td>
                                    <td class="rightText"><lightning-formatted-number value={totalDiscount} format-style="currency" currency-code="USD"></lightning-formatted-number></td>
                                    <!-- <template if:true={showInstall}>                                                                     -->
                                        <td class="rightText"><lightning-formatted-number value={totalMonthlyDiscount} format-style="currency" currency-code="USD"></lightning-formatted-number></td>                                
                                        <!-- <td>&nbsp;</td> -->
                                    <!-- </template> -->
                                    <!-- <template if:true={showMonthly}> -->
                                        <!-- <template if:true={threePayOption}> -->
                                            <!-- <td class="rightText"><lightning-formatted-number value={totalMonthlyDiscount} format-style="currency" currency-code="USD"></lightning-formatted-number></td> -->
                                            <!-- <td>&nbsp;</td> -->
                                        <!-- </template> -->
                                        <!-- <template if:false={threePayOption}> -->
                                            <!-- <td class="rightText"><lightning-formatted-number value={lessDiscounts} format-style="currency" currency-code="USD"></lightning-formatted-number></td> -->
                                        <!-- need to look into above line to check if this is supposed to only be monthly discount, or total discounts / installment term -->
                                        <!-- </template>                                                                     -->
                                    <!-- </template> -->
                                </tr>
                                <!-- <tr class="bg2">
                                    <td colspan="2" class="rightText"><strong><lightning-formatted-text value="Discount:"></lightning-formatted-text></strong></td>
                                    <td class="rightText"><strong><lightning-formatted-number value={totalDiscount} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td> 
                                    <td>&nbsp;</td>
                                </tr> -->
                            </template>
                            <tr class="bg2">
                                <td colspan="4"><strong><lightning-formatted-text value="PAY IN FULL TOTAL"></lightning-formatted-text></strong></td>
                            </tr>
                            <tr class="bg2">
                                <td colspan="2" class="rightText"><strong><lightning-formatted-text value="Total After Discounts:"></lightning-formatted-text></strong></td>                                                        
                                <!-- <template if:true={showInstall}> -->
                                    <td class="rightText"><strong><lightning-formatted-number value={totalAfterDiscounts} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                    <!-- <td class="rightText"><strong><lightning-formatted-number value={systemAndAddedTechInstallSubtotal} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td> -->
                                    <td class="rightText"><strong><lightning-formatted-number value={monthlyMonitoringTotal} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                <!-- </template> -->
                                <!-- <template if:true={showMonthly}> -->                                
                                        <!-- <td>&nbsp;</td>
                                        <td class="rightText"><strong><lightning-formatted-number value={totalAfterDiscountsMonthly} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td> -->
                                <!-- </template>                                 -->
                            </tr>
                            <!-- </template> displaying this section with or without promos applied -->
                            <tr class="bg2">
                                <td colspan="2" class="rightText"><strong><lightning-formatted-text value="Estimated Taxes:"></lightning-formatted-text></strong></td>
                                <td class="rightText"><strong><lightning-formatted-number value={adscTaxes} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                <!-- <td class="rightText"><strong><lightning-formatted-number value={monthlyTaxes} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td> -->
                                <td class="rightText"><strong><lightning-formatted-number value={monthlyMonitoringTaxes} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                            </tr>
                            <tr class="bg2">
                                <td colspan="2" class="rightText"><strong><lightning-formatted-text value="Total After Estimated Taxes:"></lightning-formatted-text></strong></td>
                                <td class="rightText"><strong><lightning-formatted-number value={atInstallTotalWithTaxes} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                <!-- <td class="rightText"><strong><lightning-formatted-number value={realProtectionMonthlyWithTaxesTotal} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>                              -->
                                <td class="rightText"><strong><lightning-formatted-number value={totalMonthlyTaxes} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>                             
                            </tr>
                            <tr class="bg2">
                                <td colspan="2" class="rightText"><strong><lightning-formatted-text value="Your Service Contract Term:"></lightning-formatted-text></strong></td>
                                <td class="rightText">&nbsp;<strong>{contractTerm}</strong></td>
                                <td>&nbsp;</td>                             
                            </tr>
                            <template if:true={quotePaymentComplete}>
                                <template if:true={financing}>
                                    <tr class="bg2">
                                        <td colspan="2" class="rightText"><strong><lightning-formatted-text value="FlexFi Term:"></lightning-formatted-text></strong></td>
                                        <td class="rightText">&nbsp;<strong>{contractTerm}</strong></td>
                                        <td>&nbsp;</td>                             
                                    </tr> 
                                </template>                             
                                <template if:true={threePayOption}>
                                    <tr class="bg2">
                                        <td colspan="2" class="rightText"><strong><lightning-formatted-text value="FlexFi Term:"></lightning-formatted-text></strong></td>
                                        <td class="rightText">&nbsp;<strong><lightning-formatted-text value="3Pay"></lightning-formatted-text></strong></td>
                                        <td>&nbsp;</td>                             
                                    </tr> 
                                </template>                             
                                <template if:true={payingInFull}>
                                    <tr class="bg2">
                                        <td colspan="2" class="rightText"><strong><lightning-formatted-text value="FlexFi Term:"></lightning-formatted-text></strong></td>
                                        <td class="rightText">&nbsp;<strong><lightning-formatted-text value="Pay In Full"></lightning-formatted-text></strong></td>
                                        <td>&nbsp;</td>                             
                                    </tr> 
                                </template>                             
                            </template>           
                            <template if:true={quotePaymentComplete}>
                                <tr class="white">
                                    <td colspan="4">&nbsp;</td>
                                </tr>
                                <template if:false={threePayOption}>
                                    <tr>
                                        <td colspan="2" class="rightText"><strong><lightning-formatted-text value="Installation Deposit:"></lightning-formatted-text></strong></td>
                                        <td class="rightText"><strong><lightning-formatted-number value={dueAtSaleDeposit} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                        <td>&nbsp;</td>                             
                                    </tr>
                                </template>                            
                                <template if:true={threePayOption}>
                                    <tr>
                                        <td colspan="2" class="rightText"><strong><lightning-formatted-text value="Installation Deposit:"></lightning-formatted-text></strong></td>
                                        <td class="rightText"><strong><lightning-formatted-number value="0.00" format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                        <td>&nbsp;</td>                             
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="rightText"><strong><lightning-formatted-text value="Remaining 3-Pay Balance:"></lightning-formatted-text></strong></td>
                                        <td class="rightText"><strong><lightning-formatted-number value={atInstallTotalWithTaxes} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                        <td>&nbsp;</td>                             
                                    </tr>
                                </template>
                                <template if:true={financing}>
                                    <tr>
                                        <td colspan="2" class="rightText"><strong><lightning-formatted-text value="Total Amount Financed:"></lightning-formatted-text></strong></td>
                                        <td class="rightText"><strong><lightning-formatted-number value={totalAmountFinanced} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                        <td>&nbsp;</td>                             
                                    </tr>
                                </template>
                                <template if:true={payingInFull}>
                                    <tr>
                                        <td colspan="2" class="rightText"><strong><lightning-formatted-text value="Balance Due Upon Installation:"></lightning-formatted-text></strong></td>
                                        <td class="rightText"><strong><lightning-formatted-number value={totalAmountFinanced} format-style="currency" currency-code="USD"></lightning-formatted-number></strong></td>
                                        <td>&nbsp;</td>                             
                                    </tr>
                                </template>
                                <template if:true={financing}>
                                    <tr>
                                        <td class="rightText" colspan="3"><lightning-formatted-text value={financeVerbaige}></lightning-formatted-text></td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </template>                            
                            </template>                            
                        </tbody> 
                    </table>
                </div>
            <!-- </template> -->
        </lightning-card>
        <template if:true={showModal}>
            <!-- Modal/Popup Box LWC starts here -->
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container slds-scrollable_y">
                    <!-- Modal/Popup Box LWC header here -->
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                            <lightning-icon icon-name="utility:close"
                                alternative-text="close"
                                variant="inverse"
                                size="small" ></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Make Payment</h2>
                    </header>
                    <!-- Modal/Popup Box LWC body starts here -->
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <c-review-quote-payment-l-w-c record-id={quoteId} oncancelconfirm={handleCancelConfirm} ontxcomplete={handleTXComplete} contract-term={contractTerm}> </c-review-quote-payment-l-w-c>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
        <template if:true={showDiscountModal}>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-2" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeDiscountModal}>
                            <lightning-icon icon-name="utility:close"
                                alternative-text="close"
                                variant="inverse"
                                size="small" ></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">Additional Discount</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                        <c-apply-discount quote-id={quoteId} has-discounts={discountApplied} oncancel={closeDiscountModal} onupsertdiscount={upsertDiscount} onupdatediscounts={updateDiscounts}> </c-apply-discount>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
        <template if:true={showLoadingModal}>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-03" aria-modal="true" aria-describedby="modal-content-id-3" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeLoadingModal}>
                            <lightning-icon icon-name="utility:close"
                                alternative-text="close"
                                variant="inverse"
                                size="small" ></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-03" class="slds-text-heading_medium slds-hyphenate">Retrieving tax amounts.</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-3">
                        <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
    </template>
</template>