<!--
  @description       : 
  @author            : Kevin Fleck
  @group             : 
  @last modified on  : 10-04-2021
  @last modified by  : Kevin Fleck
-->
<template>    
    <article class="slds-card slds-var-p-around_medium">
      <div class="acc-container">
        <lightning-card title="Make Payment" icon-name="standard:payment_gateway">
          <div class="slds-grid slds-box slds-theme_shade slds-var-p-around_small">
            <div class="slds-var-p-around_medium slds-col slds-size_1-of-3 slds-box slds-theme_default"> <!-- column 1-->
              <fieldset class="slds-form-element slds-form-element_compound">
                <legend class="slds-form-element__legend slds-form-element__label">Installation Charge</legend>
                  <div class="slds-form-element__control"></div>
                </fieldset>
              <div class="nowrap">
                <div class="slds-form-element__row">
                  <lightning-input name="totalInstallationInput" type="number" formatter="currency" label="Total Installation:" value={totalInstallCharge} step="0.01" read-only="true"></lightning-input>
                </div>
                <div class="slds-form-element__row">
                  <lightning-input name="minimumPaymentInput" type="number" formatter="currency" label="Minimum Payment:" value={minimumPayment} step="0.01" read-only="true"></lightning-input>
                </div>
                <div class="slds-form-element__row">
                  <lightning-input name="additionalPaymentInput" type="number" formatter="currency" label="Additional Payment:" value={additionalPayment} step="0.01" onchange={handleAdditionalPaymentChange} onkeypress={handleKeyPress} read-only={showThreePayScreen}></lightning-input>
                </div>
                <div class="slds-form-element__row">
                  <lightning-input name="dueAtSaleInput" type="number" formatter="currency" label="Due at Sale:" value={dueAtSale} step="0.01" read-only="true"></lightning-input>
                </div>
              </div>                    
              <lightning-radio-group
                  name="InstallPaymentType"
                  label="Payment Type"
                  options={installOptions}
                  value={value}
                  onchange={handleInstallChannelChange}
                  type="radio">
              </lightning-radio-group>
              <br/>
              <template if:true={threePayEligible}>
                <lightning-input type="checkbox" label="3-Payment Option" name="threePayment" data-my-id="threePayBox" onchange={threePayHandleChange} checked={showThreePayScreen}></lightning-input>
              </template>
              <template if:true={financeEligibility}>
                  <lightning-input type="checkbox" label="Financing" name="financing" data-my-id="financeBox" onchange={financingHandleChange} checked={showFinancingScreen}></lightning-input>
              </template>
            </div> <!-- END COLUMN 1 -->
                <div class="slds-var-p-around_medium slds-col slds-size_1-of-3 slds-box slds-theme_default"> <!-- column 2 -->
                  <fieldset class="slds-form-element slds-form-element_compound">
                    <legend class="slds-form-element__legend slds-form-element__label">Total {paymentIntervalHeaderLabel} Service Charge</legend>
                    <div class="slds-form-element__control"></div>
                  </fieldset>
                  <div class="nowrap">
                    <div class="slds-form-element__row">
                      <lightning-input name="monitoringFeeInput" type="number" formatter="currency" label="Monitoring Fee:" value={monitoringFee} step="0.01" read-only="true"></lightning-input>
                    </div>
                    <div class="slds-form-element__row">
                      <lightning-combobox
                        name="paymentInterval"
                        label="Payment Interval"
                        value={paymentIntervalLabel}
                        options={paymentIntervalOptions}
                        onchange={handlePaymentIntervalChange}>
                      </lightning-combobox>
                    </div>
                  </div>
                  <lightning-radio-group
                    name="MonitoringPaymentType"
                    label="Payment Type"
                    options={monitoringOptions}
                    value={value}
                    onchange={handleMonitoringChannelChange}
                    type="radio">
                  </lightning-radio-group>
                  <br/>
                  <lightning-input type="checkbox" label="EasyPay Enrollment" name="easyPay" checked={easyPayEnroll} disabled={easyPayEnroll}></lightning-input> <!-- change these properties to easyPayEnrolled when EasyPay_Enrollment__c changed from formula-->
                  <template if:true={showFinancingScreen}>
                    <br/>
                    <lightning-combobox
                    name="paymentTerms"
                    label="Terms"
                    value={paymentTermsLabel}
                    options={installmentsOptions}
                    onchange={handlePaymentTermsChange}>
                  </lightning-combobox>
                  </template>
                        
                </div><!-- END COLUMN 2 -->
                      
                <template if:true={showFinancingScreen}> <!-- column 3 -->
                  <div class="slds-var-p-around_medium slds-col slds-size_1-of-3 slds-box slds-theme_default">
                    <fieldset class="slds-form-element slds-form-element_compound">
                      <legend class="slds-form-element__legend slds-form-element__label">Installation Financing</legend>
                      <div class="slds-form-element__control"></div>
                    </fieldset>
                    <template if:true={showFinancingScreen}>
                      <lightning-combobox
                      name="installments"
                      label="Installments"
                      value={installmentsLabel}
                      options={installmentsOptions}
                      onchange={handleInstallmentsChange}>
                    </lightning-combobox>
                    <br/>
                    </template> 
                  <lightning-input name="amountToFinanceInput" type="number" formatter="currency" label="Amount to Finance:" value={amountToFinance} step="0.01" read-only="true"></lightning-input>
                  <br/>
                  <lightning-input name="firstPaymentInput" type="number" formatter="currency" label="First Payment Due at Install:" value={monthlyPayment} step="0.01" read-only="true"></lightning-input>
                  <br/>
                  <lightning-input name="monthlyPaymentInput" type="number" formatter="currency" label="Monthly Payment:" value={monthlyPayment} step="0.01" read-only="true"></lightning-input>
                  </div>
                </template>
                <template if:true={showThreePayScreen}>
                  <div class="slds-var-p-around_medium slds-col slds-size_1-of-3 slds-box slds-theme_default">
                    <fieldset class="slds-form-element slds-form-element_compound">
                      <legend class="slds-form-element__legend slds-form-element__label">3 Payment</legend>
                      <div class="slds-form-element__control"></div>
                    </fieldset>
                    <div class="nowrap">
                      <div class="slds-form-element__row">
                        <lightning-input name="invoice1" type="number" formatter="currency" label="Invoice 1* Due at Install:" value={invoice1} step="0.01" read-only="true"></lightning-input>
                    </div>
                      <div class="slds-form-element__row">
                        <lightning-input name="invoice2" type="number" formatter="currency" label="Invoice 2* Due 30 days after:" value={invoice2} step="0.01" read-only="true"></lightning-input>
                      </div>
                      <div class="slds-form-element__row">
                        <lightning-input name="invoice3" type="number" formatter="currency" label="Invoice 3* Due 60 days after:" value={invoice3} step="0.01" read-only="true"></lightning-input>
                      </div>
                    </div>
                  </div>
                </template>
          </div><!-- End SLDS grid 1-->
                  <template if:true={showSecondGrid}>
                    <div class="slds-grid slds-box slds-theme_shade slds-var-p-around_small slds-var-m-top_small"> <!-- Start SLDS grid 2 -->
                      <template if:true={showInstallPaymentScreen}>
                        <div class="slds-col slds-size_1-of-2 slds-box slds-theme_default"> <!-- pop out payment screen 1-->
                          <template if:true={installAchValidation}>   
<!--                            <c-ach-Validation type={type}></c-ach-Validation>-->
                            </template>
                          <template if:true={installCCPayment}>
                                <c-cc_payment-H-P-P></c-cc_payment-H-P-P>
                          </template>
                       </div><!-- END GRID 2 COLUMN 1 -->
                       <div class="slds-col slds-size_1-of-2 slds-box slds-theme_default"> <!-- GRID 2 column 2 -->
                        <template if:true={showMonitoringPaymentScreen}>
                          <!-- <div class="slds-grid slds-box slds-theme_shade">Start Grid             -->
                            <!-- <div class="slds-col slds-size_1-of-2 slds-box slds-theme_default"> -->
                            <!-- <div class="slds-var-p-around_medium slds-col slds-size_1-of-2 slds-border_top slds-border_bottom slds-border_left slds-border_right"> -->
                                <template if:true={monitoringAchValidation}> 
                                  <div class="slds-scrollable_y">
<!--                                    <c-ach-Validation type={type}></c-ach-Validation>-->
                                  </div>                            
                                </template>
                                <template if:true={monitoringCCPayment}>
                                     <c-cc_payment-H-P-P></c-cc_payment-H-P-P>
                                </template>
                            <!-- </div>END GRID 2 COLUMN 1 -->
                          <!-- </div>END GRID -->
                        </template> 
                      </div><!-- END GRID 2 COLUMN 2 --> 
                     </template>
                    </div>
                  </template>
                  
                <!-- </lightning-record-edit-form> -->
            <div slot="footer">
            <!-- <lightning-button
              id="calculate"
              class="slds-var-p-around_small"
              type="submit"
              label="Calculate"
              onclick={handleCalculate}>
            </lightning-button> -->
            <lightning-button
              id="save"
              class="slds-var-p-around_small"
              type="submit"
              label="Save & Close"
              onclick={handleSaveAndClose}>
            </lightning-button>
<!--            <c-cc_remote-pay-email-short-code record-id={recordId}></c-cc_remote-pay-email-short-code>                      -->
          </div>
        </lightning-card>                      
      </div>
      <br/>  
          
    </article>
  </template>