<template>
    <lightning-card>
        <div class="slds-float_right slds-m-right_large">
            <lightning-button-group>
                <lightning-button
                    label="Return to Quote Detail"
                    onclick={handleNavigate}>
                </lightning-button>
                <lightning-button
                    label="Modify Quote"
                    onclick={gotoQLE}>
                </lightning-button>
                <lightning-button
                    label="Make Payment"
                    onclick={openPaymentModal}>
                </lightning-button>
            </lightning-button-group>
        </div>    <br> <br><br>        
            
            <div class="slds-align_absolute-center slds-text-heading_medium slds-m-left_large">Quote Summary</div>
            <div class="slds-box slds-m-around_large">
            <lightning-datatable
                    key-field="Id"
                    data={promoData}
                    columns={promoColumns}>
                </lightning-datatable>
            <lightning-button variant="brand" class="slds-float_right slds-m-top_large" label="Apply Promotion(s)"></lightning-button>
        </div>
        
            <div>
                <div class="slds-float_left slds-m-left_large">Installments</div>            
                <lightning-combobox 
                    class="slds-size_1-of-8 slds-m-left_large"
                    options={comboOptions}
                    value={value}
                    onchange={updateMonthlyPayment}>
                </lightning-combobox>
            </div>
           
            <div class="slds-box slds-m-around_large last-row-bold">

                <lightning-datatable
                    hide-checkbox-column
                    key-field="Id"
                    data={data}
                    columns={columns}>
                </lightning-datatable>
            </div>
        </lightning-card>
        <template if:true={showModal}>
            <!-- Modal/Popup Box LWC starts here -->
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <!-- Modal/Popup Box LWC header here -->
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                            <lightning-icon icon-name="utility:close"
                                alternative-text="close"
                                variant="inverse"
                                size="small" ></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Make Payment</h2>
                    </header>
                    <!-- Modal/Popup Box LWC body starts here -->
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <c-review-quote-payment-l-w-c-demo quoteid={quoteId}> </c-review-quote-payment-l-w-c-demo>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
</template>