/**
 * Created by Matt on 8/4/2021.
 */

 .test {
     font-size: 1.3rem;
     color: slategrey;
 }

 .slds-spinner_container {
     background-color: rgba(0,0,0,.1);
     padding-top: 100px;
     background: none;
 }

 .loadingText {
     padding-top: 100px;
     font-size: 1rem;
     color: black;
 }