<!--
 - Created by Matt on 8/4/2021.
 -->

<!-- CC PaymentTech Hosted Pay Page -->
<template>
    <lightning-card class="slds-text-align_center">
        <template if:true={isLoading}>
            <div class="slds-align_absolute-center slds-p-around_large slds-m-top_large">
                <span class="loadingText">{loadingText}</span>
                <lightning-spinner variant="brand" size="medium"  alternative-text="Attempting to establish secure connection with PaymentTech...">
                </lightning-spinner>
            </div>
        </template>
        <template if:false={isLoading}>
            <div class="slds-align_absolute-center slds-p-around_medium">
                <lightning-button variant="brand" disabled={buttonDisabled} title={buttonText} label={buttonText} onclick={determineCallout}></lightning-button>
            </div>
        </template>
    </lightning-card>
</template>