/**
 * Created by Matt on 11/2/2021.
 */
 .slds-spinner_container {
     background-color: rgba(0,0,0,.1);
     padding-top: 100px;
     background: none;
 }

 lightning-card {
     min-height: 500px;
 }

 .test {
      font-size: 1.3rem;
      color: slategrey;
  }


 .loadingText {
     padding-top: 100px;
     font-size: 1rem;
     color: black;
 }

 .cc-confirm-cancel-container {
     border: 2px solid red;
     padding: 10px;
     background-color: lightgoldenrodyellow;
 }

 .job-schedule-container {
     padding: 33px 20px;
     border: 2px solid black;
     border-radius: 15px;
     text-align: left;
     max-width: 800px;
     display: block;
 }

 .cc-cancel-confirm-text {
    font-size: 1rem;
    display: inline;

 }

.job-scheduled {
    color: red;
}
/**
 * Created by Matt on 8/25/2021.
 */

.test {
    font-size: 1.3rem;
    color: slategray;
}

.slds-spinner_container {
    background-color: rgba(0,0,0,.1);
    padding-top: 100px;
    background: none;
}

.job-info-container {
    border: 1px solid #0061AA;
}

.job-scheduling-container {
    border: 1px solid #0061AA;
}

.top-container {
    max-width: 840px;
    min-height: 250px;
    text-align: center;
}

.selected {
    border: 1px solid red;
}

.cc-job-information-label {
    font-size: 1.0rem;
    padding-bottom: 15px;
    text-transform: bolder;
}

.cc-schedule-information-label {
    font-size: 1.0rem;
    padding-bottom: 15px;
    text-transform: bolder;
}

.cc-cancel-text {
    font-size: 1.2rem;
    color: red;
}

.cc-job-data-text {
    font-size: 0.8rem;
}

.cc-job-data-label {
    font-size: 0.9rem;
}

.cc-scheduled-job-title {
    font-size: 1.3rem;
}

.schedule-btn {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

:host {
    --sds-c-button-brand-background-color: #0061AA; /*ADT Blue*/
    --sds-c-button-brand-text-color: white;
    --sds-c-button-base-text-color: #0061AA;
    --sds-c-button-brand-outline-text-color: #0061AA;
    --sds-c-button-brand-outline-border-color: #0061AA;
}