<!--
 - Created by Matt on 11/2/2021.
 -->

<!-- (Coastal Cloud 2021) Schedule Jobs 2.0 -->
<template>
    <div class="top-container slds-size_xx-large slds-is-relative">
        <lightning-card class="slds-text-align_center slds-p-bottom_large">
            <h1 slot="title" class="slds-text-title_caps test">
                Job Scheduler
            </h1>
            <template if:true={isLoading}>
                <div class="slds-align_absolute-center slds-p-around_large slds-p-top_x-large slds-m-top_large">
                    <span class="loadingText">{loadingText}</span>
                    <lightning-spinner size="medium" alternative-text="Please wait..."></lightning-spinner>
                </div>
            </template>
            <template if:false={isLoading}>
                <!-- Select Job Section: START -->
                <lightning-layout horizontal-align="center" multiple-rows="false">
                    <lightning-layout-item size="3" padding="around-large">
                        <p class="slds-text-heading_small slds-m-bottom_small">Select a Job:</p>
                    </lightning-layout-item>
                    <lightning-layout-item size="6" padding="around-large" class="slds-p-bottom_x-large">
                        <lightning-combobox class="job-select slds-p-bottom_large"
                                name="job-select"
                                label="Select a Job"
                                options={selectOptions}
                                onchange={handleChange}
                                value={selectedJob}
                                placeholder="Select a Job"
                                variant="label-hidden">
                        </lightning-combobox>
                    </lightning-layout-item>
                </lightning-layout>
                <!-- Select Job Section: STOP -->
                <template if:true={showJobScheduleSection}>
                    <lightning-layout horizontal-align="center" multiple-rows="false">
                        <div class="job-schedule-container slds-grid_align-center slds-grid slds-wrap slds-card__body slds-card__body_inner slds-p-top_large">
                           <lightning-layout-item size="12">
                               <lightning-layout horizontal-align="spread">
                                   <lightning-layout-item size="4" alignment-bump="right">
                                       <p class="cc-job-information-label slds-p-left_x-small">{selectedJobDisplayName} Job Information:</p>
                                   </lightning-layout-item>
                               </lightning-layout>
                           </lightning-layout-item>
                            <lightning-layout-item class="slds-p-bottom_large" size="12">
                                <div class="job-info-container">
                                <lightning-layout multiple-rows="false" horizontal-align="center">
                                    <!-- Job Details Section: Start -->
                                        <lightning-layout-item size="12">
                                            <lightning-layout multiple-rows="false" horizontal-align="around">
                                                <lightning-layout-item size="3" class="cc-job-data-label" padding="around-small">
                                                    <p class="slds-p-left_medium">Job Number:</p>
                                                </lightning-layout-item>
                                                <lightning-layout-item size="9" class="cc-job-data-text" flexibility="no-grow" padding="around-small">{selectedJobNumber}</lightning-layout-item>
                                                <lightning-layout-item size="3" class="cc-job-data-label"  padding="around-small">
                                                    <p class="slds-p-left_medium">Work Order Record:</p>
                                                </lightning-layout-item>
                                                <lightning-layout-item size="9" class="cc-job-data-text" flexibility="grow" padding="around-small">
                                                    <a value={selectedJobWorkOrder} onclick={openWorkOrder}>
                                                        {selectedJobWorkOrder}
                                                    </a>
                                                </lightning-layout-item>
                                                <template if:true={selectedJobIsScheduled}>
                                                    <template if:false={isCanceling}>
                                                        <lightning-layout-item size="3" class="cc-job-data-label" padding="around-small">
                                                            <p class="slds-p-left_medium">Status:</p>
                                                        </lightning-layout-item>
                                                        <lightning-layout-item size="2" class={statusClass} padding="around-small">
                                                            {selectedJobStatus}
                                                        </lightning-layout-item>
                                                        <lightning-layout-item size="7" alignment-bump="right">
                                                            <lightning-button class="slds-p-around_small" label="Cancel Appointment" variant="destructive" onclick={toggleCancel}></lightning-button>
                                                        </lightning-layout-item>
                                                    </template>
                                                    <template if:true={isCanceling}>
                                                        <lightning-layout-item size="10" padding="around-small">
                                                            <div class="cc-confirm-cancel-container">
                                                                <lightning-layout-item class="slds-p-around_small" size="4" padding="around-small">
                                                                    <p class="cc-cancel-confirm-text">Please confirm appointment cancellation:</p>
                                                                </lightning-layout-item>
                                                                <lightning-layout-item padding="around-small" size="2">
                                                                    <lightning-button class="slds-p-around_small" label="Cancel Appt" variant="destructive" onclick={handleCancel}></lightning-button>
                                                                </lightning-layout-item>
                                                                <lightning-layout-item size="1" padding="around-small">
                                                                    <lightning-button label="Back" class="slds-p-around_small" variant="neutral" onclick={toggleCancel}></lightning-button>
                                                                </lightning-layout-item>
                                                            </div>
                                                        </lightning-layout-item>
                                                    </template>
                                                    <lightning-layout-item size="3" class="cc-job-data-label" padding="around-small">
                                                        <p class="slds-p-left_medium">Scheduled for:</p>
                                                    </lightning-layout-item>
                                                    <lightning-layout-item size="9" flexibility="grow" class="cc-job-data-text" padding="around-small">
                                                        {selectedJobScheduledDate}
                                                    </lightning-layout-item>
                                                </template>
                                                <template if:false={selectedJobIsScheduled}>
                                                    <lightning-layout-item padding="around-small" size="3" class="cc-job-data-label">
                                                        <p class="slds-p-left_medium">Status:</p>
                                                    </lightning-layout-item>
                                                    <lightning-layout-item size="9" padding="around-small" class={statusClass}>{selectedJobStatus}</lightning-layout-item>
                                                </template>
                                            </lightning-layout>
                                        </lightning-layout-item>
                                    <!-- Job Details Section: Stop -->
                                </lightning-layout>
                                </div>
                            </lightning-layout-item>
                            <lightning-layout-item size="12">
                                <lightning-layout horizontal-align="spread">
                                    <template if:true={selectedJobIsScheduled}>
                                        <lightning-layout-item size="4" alignment-bump="right">
                                            <p class="cc-schedule-information-label slds-p-left_x-small">Re-Scheduling Information:</p>
                                        </lightning-layout-item>
                                    </template>
                                    <template if:false={selectedJobIsScheduled}>
                                        <lightning-layout-item size="4" alignment-bump="right">
                                            <p class="cc-job-information-label slds-p-left_x-small">Scheduling Information:</p>
                                        </lightning-layout-item>
                                    </template>
                                </lightning-layout>
                            </lightning-layout-item>
                            <div class="job-scheduling-container">
                                <lightning-layout class="slds-p-left_medium" multiple-rows="true" horizontal-align="start">
                                    <lightning-layout-item padding="around-medium" class="slds-p-top_medium" size="4">
                                        <p class="slds-text-heading_small slds-m-bottom_medium">Estimated Duration:</p>
                                    </lightning-layout-item>
                                    <lightning-layout-item size="1" class="slds-p-top_x-small">
<!--                                         <lightning-input id="calc-duration" value={selectedJobDuration} type="text" label="Estimated Duration (in hours):" variant="label-hidden" disabled></lightning-input>-->
                                        <lightning-input id="calc-duration" value={estimatedJobDuration} type="text" label="Estimated Duration (in hours):" variant="label-hidden" disabled></lightning-input>
                                    </lightning-layout-item>
                                    <lightning-layout-item size="7" class="slds-p-top_small slds-p-left_small">
                                        <p>hrs</p>
                                    </lightning-layout-item>
                                    <lightning-layout-item padding="around-medium" size="4">
                                        <p class="slds-text-heading_small slds-m-bottom_medium">Start Date:</p>
                                    </lightning-layout-item>
                                    <lightning-layout-item size="2" class="slds-p-top_x-small">
                                        <lightning-input type="date" min={datePickerMinVariable} id="date-input" date-style="short" value={input_startDate} onchange={handleDateChange} label="Start Date:" variant="label-hidden" disabled={disableInputFields}></lightning-input>
                                        <template if:true={hasError}>
                                            <span class="slds-form-element__help" id="error-01">{errorText}</span>
                                        </template>
                                    </lightning-layout-item>

                                    <template if:true={jobSchedulingError}>
                                        <div class="slds-m-around_large slds-align_absolute-center">
                                            <strong><lightning-formatted-text value={jobSchedulingErrorVerbaige}></lightning-formatted-text></strong>
                                        </div>
                                    </template>
                                    <template if:false={jobSchedulingError}>
                                        <template if:true={maxJobDurationExceeded}>
                                            <div class="slds-m-around_large slds-align_absolute-center">
                                                <strong><lightning-formatted-text value={maxJobDurationExceededVerbaige}></lightning-formatted-text></strong>
                                            </div>
                                        </template>
                                        <template if:false={maxJobDurationExceeded}>
                                            <template if:true={apptOffers}>
                                                <lightning-layout-item padding="around-medium" size="12">
                                                    <p class="slds-text-heading_small slds-m-bottom_medium">Closest Available Appointments:</p>
                                                </lightning-layout-item>
                                                <template for:each={apptOffers} for:item="offer">
                                                    <lightning-layout-item key={offer.value} class="slds-m-left_x-large slds-p-left_medium slds-p-bottom_medium" size="12">
                                                        <input type="radio" id={offer.value} data-id={offer.value} name="appointment" value={offer.value} onclick={handleOfferSelect} />
                                                        <label for={offer.value} class="slds-p-left_small">{offer.label}</label>
                                                    </lightning-layout-item>
                                                </template>
                                            </template>
                                        </template>
                                    </template>
                                    
                                        
                                    <template if:true={showScheduleBtn}>
                                            <lightning-layout-item class="schedule-btn" size="12">
                                                <lightning-button variant="brand" onclick={handleSubmit} label={buttonText} disabled={disableInputFields}></lightning-button>
                                            </lightning-layout-item>
                                    </template>

                                </lightning-layout>
                            </div>
                        </div>
                    </lightning-layout>
                </template>
            </template>
        </lightning-card>
    </div>
</template>