<!--
 - Created by Matt on 9/29/2021.
 -->

<!-- (Coastal Cloud 2021) Submit Order -->
<template>
    <lightning-card class="slds-text-align_center">
        <h1 slot="title" class="slds-text-title_caps test">
            Submit Order to OMS
        </h1>
        <template if:true={isLoading}>
            <div class="slds-align_absolute-center slds-p-around_large slds-p-top_x-large slds-m-top_large">
                <span class="loadingText">{loadingText}</span>
            <lightning-spinner size="medium" alternative-text="Submitting Order. Please wait..."></lightning-spinner>
            </div>
        </template>
    </lightning-card>
</template>