<template>
    <lightning-quick-action-panel header="Product Catalog">
        <div>
            <div slot="body">                        
                <div style="height:300px;">
                    <template if:true={loading}>
                        <div style="height:300px">
                        <lightning-spinner alternative-text="Loading"></lightning-spinner>
                        </div>
                    </template>
                    <template if:false={loading}>
                        <template if:false={showTable}>
                            <div class="slds-align_absolute-center">
                                <lightning-formatted-text value="No associated simple sell bundles found. "></lightning-formatted-text>
                                <lightning-button variant="base" label="Add Products" title="Add More Products" onclick={handleShowTable} class="slds-m-left_x-small"></lightning-button>
                            </div>                            
                        </template>                         
                        <template if:true={showTable}>
                            <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered slds-border_left slds-border_right">
                                <thead>
                                    <tr>
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="#">#</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="Product Name">
                                        Product Name
                                        </div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="Product Quantity">
                                        Product Quantity
                                        </div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="Delete">Delete</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-truncate" title="Add">Add</div>
                                    </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template for:each={rows} for:item="row" if:false={loading}>
                                    <tr class="slds-hint-parent" key={row.index}>
                                        <th data-label="Name" scope="row">
                                        <div class="slds-truncate" title={row.index}>
                                            {row.index}
                                        </div>
                                        </th>
                                        <td data-label="Some Custom Column">
                                        <lightning-combobox
                                            data-row={row.index}
                                            name="Industry"
                                            label="Industry"
                                            value={row.pName}
                                            options={nameOptions}
                                            onchange={handleChangeProduct}
                                            variant="label-hidden">
                                        </lightning-combobox>
                                        </td>
                                        <td data-label="Some Custom Column">
                                        <lightning-combobox
                                            data-row={row.index}
                                            name="Industry"
                                            label="Industry"
                                            value={row.pQuantity}
                                            options={quantityOptions}
                                            onchange={handleChangeQuantity}
                                            variant="label-hidden">
                                        </lightning-combobox>
                                        </td>
                                        <td data-label="Some Custom Column">
                                        <lightning-button variant="base" label="Delete" title="Looks like a link" onclick={handleDeleteRow} 
                                        data-row={row.index}  class="slds-m-left_x-small"></lightning-button>
                                        </td>
                                        <td data-label="Some Custom Column">
                                        <lightning-button variant="base" label="Add More Products" title="Looks like a link" onclick={handleAddRow} class="slds-m-left_x-small"></lightning-button>
                                        </td>
                                    </tr>
                                    </template>
                                </tbody>
                                </table>
                                <lightning-textarea name="input1" label="Notes" value={notes} onchange={handleChangeNotes}>
                                </lightning-textarea>
                        </template>                         
                    </template>
                </div>                        
            </div>
            <div slot="footer" class="slds-align_absolute-center">
                <lightning-button class="slds-var-p-around_small" variant="neutral" label="Cancel" onclick={handleNegative}></lightning-button>
                <lightning-button class="slds-var-p-around_small" variant="Brand" label="Save" onclick={handlePositive} disabled={disableSave}></lightning-button>
            </div>                    
        </div>
    </lightning-quick-action-panel>
  </template>