<template>
    <!-- <lightning-record-edit-form record-id={id} object-api-name="SBQQ__Quote__c"> -->
        <!-- <div class="nowrap">
            <lightning-output-field field-name="Total_Install_Charge__c"></lightning-output-field>
            <lightning-output-field field-name="Minimum_Payment__c"></lightning-output-field>
            <lightning-output-field field-name="Additional_Payment__c"></lightning-output-field>          
            <lightning-output-field field-name="Due_at_Sale__c"></lightning-output-field>
        </div>               -->
        <div class="slds-box">
            <fieldset class="slds-form-element slds-form-element_compound">
                <legend class="slds-form-element__legend slds-form-element__label">Installation Charge</legend>
                <div class="slds-form-element__control">form type</div>
            </fieldset>
            <div class="slds-form-element__row">
                <div class="slds-size_1-of-2">Total Installation:</div>
                <!-- <div class="slds-size_1-of-2">{totalInstallCharge}</div> -->
            </div>
            <div class="slds-form-element__row">
                <div class="slds-size_1-of-2">Minimum Payment:</div>
                <!-- <div class="slds-size_1-of-2">{minimumPayment}</div> -->
            </div>
            <div class="slds-form-element__row">
                <div class="slds-size_1-of-2">Additional Payment:</div>
                <!-- <div class="slds-size_1-of-2">{additionalPayment}</div> -->
            </div>
            <div class="slds-form-element__row">
                <div class="slds-size_1-of-2">Due at Sale:</div>
                <!-- <div class="slds-size_1-of-2">{dueAtSale}</div> -->
            </div>
            <lightning-radio-group
                name="PaymentType"
                label="Payment Type"
                options={options}
                value={value}
                onchange={handleInstallChannelChange}
                type="radio">
            </lightning-radio-group>
            <br/>
            <template if:true={threePayEligible}>
                <lightning-input-field field-name="X3_Payment_Option__c" name="threePayInput" onchange={threePayHandleChange}></lightning-input-field>
            </template>
            <template if:true={financeEligible}>
                <lightning-input-field field-name="Financing__c" name="financeInput" onchange={financingHandleChange}></lightning-input-field>
            </template>
        </div>
        
    <!-- </lightning-record-edit-form>     -->
</template>