<!--
 - Created by Matt on 8/25/2021.
 -->

<!-- CC Schedule Job -->
<template>
    <div class="slds-size_xx-large slds-is-relative">
        <lightning-card>
            <div slot="title">
                <h3 class="slds-text-title_caps test">
                    Schedule Installation
                </h3>
            </div>
            <div class="slds-grid slds-wrap slds-card__body slds-card__body_inner slds-p-top_large">
                <lightning-layout horizontal-align="start" multiple-rows="false">
                    <!-- Existing job section: Start -->
                    <template if:true={showCancellationSection}>
                        <lightning-layout-item padding="around-medium" size="12">
                          <p class="slds-text-heading_small slds-m-bottom_medium cc-scheduled-job-title">Currently Scheduled Job Information:</p>
                        </lightning-layout-item>
                        <lightning-layout-item padding="horizontal-small" size="3">
                            <p class="slds-text-heading_small slds-m-bottom_small slds-p-left_large cc-job-data-label">Status:</p>
                        </lightning-layout-item>
                        <lightning-layout-item size="9" alignment-bump="left" >
                            <lightning-formatted-text class="cc-job-data-text" value={jobData.fields.ADTJob_Status__c.value}></lightning-formatted-text>
                        </lightning-layout-item>
                        <lightning-layout-item padding="horizontal-small" size="3">
                            <p class="slds-text-heading_small slds-m-bottom_small slds-p-left_large cc-job-data-label">Job Number:</p>
                        </lightning-layout-item>
                        <lightning-layout-item size="9" alignment-bump="left">
                            <lightning-formatted-text class="cc-job-data-text"  value={jobData.fields.MMB_Job__c.value}></lightning-formatted-text>
                        </lightning-layout-item>
                        <lightning-layout-item padding="horizontal-small" size="3">
                            <p class="slds-text-heading_small slds-m-bottom_small slds-p-left_large cc-job-data-label">Start Time:</p>
                        </lightning-layout-item>
                        <lightning-layout-item size="9" alignment-bump="left" >
                            <lightning-formatted-date-time class="cc-job-data-text"  value={jobData.fields.ADTJob_Start__c.value}  hour="2-digit" minute="2-digit" hour12="true" year="numeric" month="short" day="2-digit" weekday="long"></lightning-formatted-date-time>
                        </lightning-layout-item>
                        <lightning-layout-item padding="horizontal-small" size="3">
                            <p class="slds-text-heading_small slds-m-bottom_medium slds-p-left_large cc-job-data-label">End Time:</p>
                        </lightning-layout-item>
                        <lightning-layout-item size="9">
                            <lightning-formatted-date-time class="cc-job-data-text" value={jobData.fields.ADTJob_End__c.value}  hour="2-digit" minute="2-digit" hour12="true" year="numeric" month="short" day="2-digit" weekday="long"></lightning-formatted-date-time>
                        </lightning-layout-item>
                        <template if:false={showConfirmCancelSection}>
                            <lightning-layout-item size="3" padding="around-medium">
                                <lightning-button disabled={disableInputFields} label="Reschedule" variant="brand" onclick={handleReschedule}></lightning-button>
                            </lightning-layout-item>
                            <lightning-layout-item size="9" padding="around-medium">
                                <lightning-button label="Cancel Appointment" variant="brand" disabled={disableInputFields} onclick={handleCancel}></lightning-button>
                            </lightning-layout-item>
                        </template>
                        <template if:true={showConfirmCancelSection}>
                            <lightning-layout-item size="6" padding="around-medium">
                                <lightning-formatted-text class="slds-text-title slds-text-color_error cc-cancel-text" value={confirmCancelText}></lightning-formatted-text>
                            </lightning-layout-item>
                            <lightning-layout-item size="6" padding="around-medium">
                                <lightning-button class="slds-p-right_medium" label="Yes, Cancel Appointment" variant="destructive" disabled={disableInputFields} onclick={handleCancel}></lightning-button>
                                <lightning-button label="No" variant="brand-outline" onclick={cancelConfirm}></lightning-button>
                            </lightning-layout-item>
                        </template>
                        <template if:true={isLoading}>
                            <div class="slds-align_absolute-center slds-spinner_container slds-is-fixed slds-p-top_xx-large">
                                <lightning-spinner size="medium" variant="brand" ></lightning-spinner>
                            </div>
                        </template>
                    </template>
                    <!-- Existing job section: Stop -->
                    <!-- Schedule job section: Start -->
                    <template if:true={showScheduleSection}>
                        <template if:true={isRescheduling}>
                            <lightning-layout-item size="12" flexibility="grow" alignment-bump="right">
                                <lightning-icon icon-name="utility:back" size="x-small" class="slds-p-around_medium"></lightning-icon>
                                <lightning-button variant="base" label="Back to Current Job Summary" onclick={handleBackEvent}></lightning-button>
                            </lightning-layout-item>
                         </template>
                        <lightning-layout-item padding="around-medium" size="4">
                            <p class="slds-text-heading_small slds-m-bottom_medium">Estimated Duration:</p>
                        </lightning-layout-item>
                        <lightning-layout-item size="1" class="slds-p-top_x-small">
                            <lightning-input id="calc-duration" value={installDuration} type="text" label="Estimated Duration (in hours):" variant="label-hidden" disabled></lightning-input>
                        </lightning-layout-item>
                        <lightning-layout-item size="7" class="slds-p-top_small slds-p-left_small">
                            <p>hrs</p>
                        </lightning-layout-item>
                        <lightning-layout-item padding="around-medium" size="4">
                            <p class="slds-text-heading_small slds-m-bottom_medium">Duration Override:</p>
                        </lightning-layout-item>
                        <lightning-layout-item size="1" class="slds-p-top_x-small">
                            <lightning-input type="number" value={durationOverride} onchange={handleOverrideChange} step="0.5" label="duration-override" variant="label-hidden" disabled={disableInputFields}></lightning-input>
                        </lightning-layout-item>
                        <lightning-layout-item size="7" class="slds-p-top_small slds-p-left_small">
                            <span>hrs</span>
                            <template if:true={overrideApplied}>
                                <span class="slds-p-left_medium cc-cancel-text">Override Active!</span>
                            </template>
                        </lightning-layout-item>
                        <lightning-layout-item padding="around-medium" size="4">
                            <p class="slds-text-heading_small slds-m-bottom_medium">Start Date:</p>
                        </lightning-layout-item>
                        <lightning-layout-item size="2" class="slds-p-top_x-small">
                            <lightning-input type="date" min={datePickerMinVariable} aria-described-by="error-01" id="date-input" date-style="short" value={input_startDate} onchange={handleDateChange} label="Start Date:" variant="label-hidden" disabled={disableInputFields}></lightning-input>
                            <template if:true={hasError}>
                                <span class="slds-form-element__help" id="error-01">{errorText}</span>
                            </template>
                        </lightning-layout-item>
                        <lightning-layout-item size="7" class="slds-p-bottom_x-large">
                        </lightning-layout-item>
                        <template if:true={isLoading}>
                            <div class="slds-align_absolute-center slds-spinner_container slds-is-fixed slds-p-top_xx-large">
                                <lightning-spinner size="medium" variant="brand" ></lightning-spinner>
                            </div>
                        </template>
                        <template if:false={isLoading}>
                            <template if:true={apptOffers}>
                                <lightning-layout-item padding="around-medium" size="12">
                                    <p class="slds-text-heading_small slds-m-bottom_medium">Closest Available Appointments:</p>
                                </lightning-layout-item>
                                <template for:each={apptOffers} for:item="offer">
                                    <lightning-layout-item key={offer.value} class="slds-m-left_x-large slds-p-left_medium slds-p-bottom_medium" size="12">
                                        <input type="radio" id={offer.value} data-id={offer.value} name="appointment" value={offer.value} onclick= {handleOfferSelect} />
                                        <label for={offer.value} class="slds-p-left_small">{offer.label}</label>
                                    </lightning-layout-item>
                                </template>
                            </template>
                        </template>
                    </template>
                    <!-- Schedule job section: Stop -->
                </lightning-layout>
            </div>
            <template if:true={showScheduleBtn}>
                <lightning-layout horizontal-align="center" class="slds-p-top_large slds-p-bottom_large">
                    <lightning-layout-item size="4">
                        <lightning-button variant="brand" onclick={handleSubmit} label="Schedule Install" disabled={disableInputFields}></lightning-button>
                    </lightning-layout-item>
                </lightning-layout>
            </template>
        </lightning-card>
    </div>
</template>