/**
 * Created by Matt on 8/25/2021.
 */

.test {
    font-size: 1.3rem;
    color: slategray;
}

.slds-spinner_container {
    background-color: rgba(0,0,0,.1);
    padding-top: 100px;
    background: none;
}

.selected {
    border: 1px solid red;
}

.cc-cancel-text {
    font-size: 1.2rem;
    color: red;
}

.cc-job-data-text {
    font-size: 1.1rem;
}

.cc-job-data-label {
    font-size: 1.2rem;
}

.cc-scheduled-job-title {
    font-size: 1.3rem;
}

:host {
    --sds-c-button-brand-background-color: #0061AA; /*ADT Blue*/
    --sds-c-button-brand-text-color: white;
    --sds-c-button-base-text-color: #0061AA;
    --sds-c-button-brand-outline-text-color: #0061AA;
    --sds-c-button-brand-outline-border-color: #0061AA;
}

.cc-duration-override-section-active {
    border: 3px solid red;
}