/* table, td{
    border: 1px dashed black;
    border-collapse: collapse;
} */
td{
    padding-right: 5px;
    /* padding-left: 30px; */
}
.fixed{
    table-layout: fixed;
}
.rightText{
    text-align: right;
}