<template>
    
    <div>
        <table class="fixed" width="100%">
            <tbody>                    
                <template for:each={childProducts} for:item="line">
                    <tr key={line.Id}>
                        <!-- <td width="2%"><em><lightning-formatted-number value={line.SBQQ__Quantity__c}></lightning-formatted-number></em></td> -->
                        <td width="2%">&nbsp;</td>
                        <td width="68%"><em><lightning-formatted-number value={line.quantity}></lightning-formatted-number>&nbsp;<lightning-formatted-text value={line.productName}></lightning-formatted-text></em></td>
                        <template if:true={showInstall}>
                            <td width="15%" class="rightText"><lightning-formatted-number value={line.install} format-style="currency" currency-code="USD"></lightning-formatted-number></td>
                            <td>&nbsp;</td>
                        </template>
                        <template if:true={showMonthly}>
                            <td>&nbsp;</td>
                            <td width="15%" class="rightText"><lightning-formatted-number value={line.monthly} format-style="currency" currency-code="USD"></lightning-formatted-number></td>
                        </template>  
                    </tr>                    
                </template>                
            </tbody>
        </table>
    </div>

</template>