<template>
    <lightning-card>
        <template if:true={showForm}>
            <div class="slds-p-left_large slds-m-bottom_x-large">
                <h2 slot="title" class="slds-text-heading_medium slds-m-bottom_medium">
                    Direct Deposit Details
                    <template if:true={validateSuccessful}>
                        <p style="color: darkgreen;">(Validated)</p>
                    </template>
                </h2>

                <div slot="body">
                    <div class="slds-p-around_small lgc-bg">
                        <lightning-input type="text" pattern="[0-9]+" disabled={inputDisabled} message-when-pattern-mismatch="Only numbers are allowed" label="Routing Number" max-length="10" value={routingNumber} onchange={handleRoutingNumber} required></lightning-input>
                    </div>
                    <div class="slds-p-around_small lgc-bg">
                        <lightning-input type="text" pattern="[a-zA-Z0-9- ]+"  disabled={inputDisabled}
                                         message-when-pattern-mismatch="Special characters are not allowed" label="Bank/Credit Union" value={institutionName} max-length="16" onchange={handleInstitutionName} required></lightning-input>
                    </div>
                    <div class="slds-p-around_small lgc-bg">
                        <lightning-input type="text" pattern="[0-9]+" disabled={inputDisabled} message-when-pattern-mismatch="Only numbers are allowed" label="Account Number" value={bankAccountNumber} max-length="17" onchange={handleBankAccountNumber} required></lightning-input>
                    </div>
                    <div class="slds-p-around_small lgc-bg">
                        <lightning-input type="text" pattern="[a-zA-Z0-9- ]+" disabled={inputDisabled}
                                         message-when-pattern-mismatch="Special characters are not allowed" label="Name on Account" value={nameOnAccount} onchange={handleNameOnAccount} max-length="50" required></lightning-input>
                    </div>
                    <div class="slds-p-around_small lgc-bg">
                        <lightning-combobox label="Account Type"
                                            onchange={handleChange}
                                            value={accountType}
                                            options={statusOptions}
                                            disabled={inputDisabled}
                                            required>
                        </lightning-combobox>
                    </div>
                </div>
            </div>
            <!--        <lightning-button-group slot="footer" class="slds-align_absolute-center slds-p-bottom_small">-->
            <!--            <lightning-button  variant="destructive-text" label="Cancel" onclick={close}></lightning-button>-->
            <!--            <lightning-button  variant="brand" label="Submit" onclick={submitForm}></lightning-button>-->
            <!--        </lightning-button-group>-->

            <template if:true={isLoading}>
                <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
            </template>
        </template> 
        <!--template if:true={success}>
            <b>SUCCESS!</b> </br>
            <b>Account Response Code: </b>{output.accountResponseCode} </br>
            <b>Correlation ID: </b>{output.correlationId} </br>
            <b>Reference ID: </b>{output.itemReferenceId} </br>
            <b>Tracing ID: </b>{output.tracingId} </br>
            <b>Verification Response: </b>{output.verificationResponse} </br>
        </!--template>
        <template if:true={notSuccess}>
            <b>NOT SUCCESSFUL!</b> </br>
            <b>Account Response Code: </b>{output.accountResponseCode} </br>
            <b>Correlation ID: </b>{output.correlationId} </br>
            <b>Reference ID: </b>{output.itemReferenceId} </br>
            <b>Tracing ID: </b>{output.tracingId} </br>
            <b>Verification Response: </b>{output.verificationResponse} </br>

            <b>Error message: </b> {errorMessages}

        </template-->
    </lightning-card>


</template>