<!--
 - Created by Matt on 10/8/2021.
 -->

<!-- CC Send Order Conf Email -->
<template>
    <lightning-card class="slds-text-align_center">
        <h1 slot="title" class="slds-text-title_caps test">
            Send Order Confirmation Email
        </h1>
        <template if:true={isLoading}>
            <div class="slds-align_absolute-center slds-p-around_large slds-p-top_x-large slds-m-top_large">
                <span class="loadingText">{loadingText}</span>
                <lightning-spinner size="medium" alternative-text="Re-sending Order Confirmation Email. Please wait..."></lightning-spinner>
            </div>
        </template>
    </lightning-card>
</template>