/**
 * Created by Matt on 10/8/2021.
 */
 .slds-spinner_container {
     background-color: rgba(0,0,0,.1);
     padding-top: 100px;
     background: none;
 }

 .test {
      font-size: 1.3rem;
      color: slategrey;
  }


 .loadingText {
     padding-top: 100px;
     font-size: 1rem;
     color: black;
 }