<template>
    <lightning-card>
    <template if:true={isLoading}>
    <div class="slds-p-left_large slds-m-bottom_x-large">
        <h2 class="slds-text-heading_medium slds-m-bottom_medium">
            Direct Deposit Details
        </h2>
            <div class="slds-p-around_small lgc-bg">
                <lightning-input type="number" label="Routing Number" value={routingNumber}></lightning-input>
            </div>
            <div class="slds-p-around_small lgc-bg">
                <lightning-input type="text" label="Bank/Credit Union" value={institutionname}></lightning-input>
            </div>
            <div class="slds-p-around_small lgc-bg">
                <lightning-input type="number" label="Account Number" value={bankAccountNumber}></lightning-input>
            </div>
            <div class="slds-p-around_small lgc-bg">
                <lightning-input type="text" label="Name on Account" value={nameOnAccount}></lightning-input>
            </div>
            <div class="slds-p-around_small lgc-bg">
                <lightning-combobox label="Account Type"
                                    onchange={handleChange}
                                    value={accountType}
                                    options={statusOptions}>
                </lightning-combobox>
            </div>
    </div>
    <lightning-button class="slds-align_absolute-center" variant="brand" label="Submit" onclick={submitForm}></lightning-button>
    </template> 
    </lightning-card>
</template>