<template>    
    <table width="100%">
        <colgroup>
            <col width="25%">
            <col width="75%">
        </colgroup>
        <!-- <tr>
            <td colspan="3"><strong>{promoVerbaige}</strong></td>
        </tr> -->
        <tr>                           
            <td><lightning-formatted-text value="selectedPromo.Name"></lightning-formatted-text></td>
            <td><lightning-formatted-text value="selectedPromo.Description__c" ></lightning-formatted-text></td>
        </tr>
    </table>
</template>