table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.nowrap{
    white-space:nowrap;
}

.border{
    border: solid 1px black;
}

.slds-modal__container {
   height: fit-content;

}

.slds-modal {
    width: 800px;
       height: 300px;
       position: absolute;
       left: 50%;
       top: 50%;
       margin-left: -400px;
       margin-top: -150px;
}

.slds-backdrop.slds-backdrop_open {
    position: absolute;
}



button .slds-button .slds-button_icon .slds-modal__close .closeIcon .slds-button_icon-bare .slds-button_icon-inverse {
    display: none;
}