<!--
  @description       : 
  @author            : Kevin Fleck
  @group             : 
  @last modified on  : 10-04-2021
  @last modified by  : Kevin Fleck
-->
<template>    
  <article class="slds-card slds-var-p-around_medium">
    <div class="acc-container">
<!--      <lightning-card title="Make Payment" icon-name="standard:payment_gateway">-->
      <lightning-card title="Make Payment" >
        <template if:true={showConfirmation}>
            <!-- Modal/Popup Box LWC starts here -->
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
              <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                  <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Confirm Price Change</h2>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                  <p style="padding: 10px;">
                    <b>
                      Changing Deposit Amount for Credit Card Pre-Authorization to ${dueAtSale}?
                    </b>
                  </p>
                  <p style="padding: 10px;">
                      Confirm or cancel your change by clicking either the OK or Cancel button
                  </p>
                  <p style="color: red;">
                    <b>Notice:</b> If you click OK the system will close the Chase Paymentech tab. You will need to click the Goto Chase Paymentech button again.
                  </p>
                </div>
                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer">
                  <button class="slds-button slds-button_neutral" data-id="cancel" onclick={closeModal} title="Cancel">Cancel</button>
                  <button class="slds-button slds-button_brand" data-id="confirm" onclick={submitDetails} title="OK">OK</button>
                </footer>
              </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
        <!-- MParrella | SFCPQ-491: Cancel Confirmation Modal: START -->
        <template if:true={cancelModalOpen}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-2" class="slds-modal slds-fade-in-open">
          <div class="slds-modal__container">
            <!-- Modal/Popup Box LWC header here -->
            <header class="slds-modal__header">
              <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">Confirm Cancel</h2>
            </header>
            <!-- Modal/Popup Box LWC body starts here -->
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
              <p style="padding: 10px; color: red;">
                <b>
                  You have unsaved changes on this screen. You may go back to the screen to perform the save or continue without saving your changes.
                </b>
              </p>
            </div>
            <!-- Modal/Popup Box LWC footer starts here -->
            <footer class="slds-modal__footer">
              <button class="slds-button slds-button_neutral" data-id="cancel" onclick={closeCancelModal} title="Cancel">Cancel</button>
              <button class="slds-button slds-button_brand" data-id="confirm" onclick={confirmCancel} title="OK">OK</button>
            </footer>
          </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
      </template>
        <!-- MParrella | SFCPQ-491: Cancel Confirmation Modal: STOP -->
        <div class="slds-grid slds-box slds-theme_shade slds-var-p-around_small">
          <div class="slds-var-p-around_medium slds-col slds-size_1-of-3 slds-box slds-theme_default"> <!-- column 1-->
            <fieldset class="slds-form-element slds-form-element_compound">
              <legend class="slds-form-element__legend slds-form-element__label">Installation Charge</legend>
                <div class="slds-form-element__control"></div>
              </fieldset>
            <div class="nowrap">
              <div class="slds-form-element__row">
                <lightning-input name="totalInstallationInput" type="number" formatter="currency" label="Total Installation:" value={totalInstallCharge} step="0.01" read-only="true"></lightning-input>
              </div>
              <div class="slds-form-element__row">
                <lightning-input name="minimumPaymentInput" type="number" formatter="currency" label="Minimum Payment:" value={minimumPayment} step="0.01" read-only="true"></lightning-input>
              </div>
              <div class="slds-form-element__row"> 
                <lightning-input name="additionalPaymentInput" type="number" data-id="additionalPay" formatter="currency" label="Additional Payment:" value={additionalPayment} step="0.01" onchange={handleAdditionalPaymentChange} onkeypress={handleKeyPress} onfocusout={focusOut} read-only={showThreePayScreen}></lightning-input>
              </div>
              <div class="slds-form-element__row">
                <lightning-input name="dueAtSaleInput" type="number" formatter="currency" onchange={handleSalePriceChange} label="Due at Sale:" value={dueAtSale} step="0.01" read-only="true"></lightning-input>
              </div>
            </div>                    
            <lightning-radio-group
                name="InstallPaymentType"
                label="Payment Type"
                options={installOptions}
                value={value}
                onchange={handleInstallChannelChange}
                type="radio">
            </lightning-radio-group>
            <br/>
            <template if:true={threePayEligible}>
              <lightning-input type="checkbox" label="3-Payment Option" name="threePayment" data-my-id="threePayBox" onchange={threePayHandleChange} checked={showThreePayScreen}></lightning-input>
            </template>
            <template if:true={financeEligibility}>
                <lightning-input type="checkbox" label="Financing" name="financing" data-my-id="financeBox" onchange={financingHandleChange} checked={showFinancingScreen}></lightning-input>
            </template>
          </div> <!-- END COLUMN 1 -->
              <div class="slds-var-p-around_medium slds-col slds-size_1-of-3 slds-box slds-theme_default"> <!-- column 2 -->
                <fieldset class="slds-form-element slds-form-element_compound">
                  <legend class="slds-form-element__legend slds-form-element__label">Total {paymentIntervalHeaderLabel} Service Charge</legend>
                  <div class="slds-form-element__control"></div>
                </fieldset>
                <div class="nowrap">
                  <div class="slds-form-element__row">
                    <lightning-input name="monitoringFeeInput" type="number" formatter="currency" label="Monitoring Fee:" value={monitoringFee} step="0.01" read-only="true"></lightning-input>
                  </div>
                  <div class="slds-form-element__row">
                    <lightning-combobox
                      name="paymentInterval"
                      label="Payment Interval"
                      value={paymentIntervalLabel}
                      options={paymentIntervalOptions}
                      onchange={handlePaymentIntervalChange}>
                    </lightning-combobox>
                  </div>
                </div>
                <lightning-radio-group
                  name="MonitoringPaymentType"
                  label="Payment Type"
                  options={monitoringOptions}
                  value={value}
                  onchange={handleMonitoringChannelChange}
                  type="radio">
                </lightning-radio-group>
                <br/>
                <lightning-input type="checkbox" label="EasyPay Enrollment" name="easyPay" onchange={handleEasyPay} checked={easyPayEnroll} disabled={requireEasyPay}></lightning-input> <!-- change these properties to easyPayEnrolled when EasyPay_Enrollment__c changed from formula-->
                <br/>
                <lightning-combobox
                  name="paymentTerms"
                  label="Terms"
                  value={paymentTermsLabel}
                  options={paymentTermsOptions}
                  onchange={handlePaymentTermsChange}>
                </lightning-combobox>
                      
              </div><!-- END COLUMN 2 -->
                    
              <template if:true={showFinancingScreen}> <!-- column 3 -->
                <div class="slds-var-p-around_medium slds-col slds-size_1-of-3 slds-box slds-theme_default">
                  <fieldset class="slds-form-element slds-form-element_compound">
                    <legend class="slds-form-element__legend slds-form-element__label">Installation Financing</legend>
                    <div class="slds-form-element__control"></div>
                  </fieldset>
                  <template if:true={showFinancingScreen}>
                    <lightning-combobox
                    name="installments"
                    label="Installments"
                    value={installmentsLabel}
                    options={paymentTermsOptions}
                    onchange={handleInstallmentsChange}>
                  </lightning-combobox>
                  <br/>
                  </template> 
                  <lightning-input name="amountToFinanceInput" type="number" formatter="currency" label="Amount to Finance:" value={amountToFinance} step="0.01" read-only="true"></lightning-input>
                  <br/>
                  <lightning-input name="firstPaymentInput" type="number" formatter="currency" label="First Payment Due at Install:" value={monthlyPayment} step="0.01" read-only="true"></lightning-input>
                  <br/>
                  <lightning-input name="monthlyPaymentInput" type="number" formatter="currency" label="Monthly Payment:" value={monthlyPayment} step="0.01" read-only="true"></lightning-input>
                  <br/>
                  <lightning-formatted-text value={financeVerbaige}></lightning-formatted-text>
                </div>
                
              </template>
              <template if:true={showThreePayScreen}>
                <div class="slds-var-p-around_medium slds-col slds-size_1-of-3 slds-box slds-theme_default">
                  <fieldset class="slds-form-element slds-form-element_compound">
                    <legend class="slds-form-element__legend slds-form-element__label">3 Payment</legend>
                    <div class="slds-form-element__control"></div>
                  </fieldset>
                  <div class="nowrap">
                    <div class="slds-form-element__row">
                      <lightning-input name="invoice1" type="number" formatter="currency" label="Invoice 1 Due at Install:" value={invoice1} step="0.01" read-only="true"></lightning-input>
                  </div>
                    <div class="slds-form-element__row">
                      <lightning-input name="invoice2" type="number" formatter="currency" label="Invoice 2 Due 30 days after:" value={invoice2} step="0.01" read-only="true"></lightning-input>
                    </div>
                    <div class="slds-form-element__row">
                      <lightning-input name="invoice3" type="number" formatter="currency" label="Invoice 3 Due 60 days after:" value={invoice3} step="0.01" read-only="true"></lightning-input>
                    </div>
                  </div>
                </div>
              </template>
        </div><!-- End SLDS grid 1-->
                <template if:true={showSecondGrid}>
                  <div class="slds-grid slds-box slds-theme_shade slds-var-p-around_small slds-var-m-top_small"> <!-- Start SLDS grid 2 -->
                    <template if:true={showInstallPaymentScreen}>
                      <div class="slds-col slds-size_1-of-2 slds-box slds-theme_default"> <!-- pop out payment screen 1-->
                        <template if:true={showCCPaymentLWC}>
                          <c-cc_payment-H-P-P
                                  onwindowclose={handleWindowClose}
                                  total-amt={dueAtSale}
                                  onwindowopen={handleWindowOpen}
                                  button-disabled={disableCCButton}
                                  ontxcomplete={handleCCSuccess}
                                  ach-processing-req={needsACHValidation}
                                  onvalidateach={handleValidateACH}
                                  record-id={recordId}
                                  cc-recur={ccRecurSelected}
                                  cc-install={ccInstallSelected}
                                  account-id={AccountId}>
                          </c-cc_payment-H-P-P>
                          <template if:true={showDisabledCCText}>
                            <p style="text-align: center; color: red;">{disabledCCText}</p>
                          </template>
                        </template>
                        <template if:true={showCCHelpText}>
                          <p style="text-align: center; color: red;">{ccHelpText}</p>
                        </template>
                     </div><!-- END GRID 2 COLUMN 1 -->
                     <div class="slds-col slds-size_1-of-2 slds-box slds-theme_default"> <!-- GRID 2 column 2 -->
                      <template if:true={showMonitoringPaymentScreen}>
                        <!-- <div class="slds-grid slds-box slds-theme_shade">Start Grid             -->
                          <!-- <div class="slds-col slds-size_1-of-2 slds-box slds-theme_default"> -->
                          <!-- <div class="slds-var-p-around_medium slds-col slds-size_1-of-2 slds-border_top slds-border_bottom slds-border_left slds-border_right"> -->
                              <template if:true={showACHPaymentLWC}>
                                <div class="slds-scrollable_y">
<!--                                  <c-ach-Validation-->
<!--                                          type={type}-->
<!--                                          onvalidate={handleValidateSuccess}-->
<!--                                          onvalidatefailure={handleValidateFailure}-->
<!--                                          onfieldsvalid={handleValidFields}>-->
<!--                                  </c-ach-Validation>-->
                                </div>
                                <template if:true={showACHHelpText}>
                                  <p style="text-align: center; color: darkgreen; font-size: .9rem;">{achHelpText}</p>
                                </template>
                              </template>
                          <!-- </div>END GRID 2 COLUMN 1 -->
                        <!-- </div>END GRID -->
                      </template> 
                    </div><!-- END GRID 2 COLUMN 2 --> 
                   </template>
                  </div>
                </template>
                
              <!-- </lightning-record-edit-form> -->
          <div slot="footer">
          <!-- <lightning-button
            id="calculate"
            class="slds-var-p-around_small"
            type="submit"
            label="Calculate"
            onclick={handleCalculate}>
          </lightning-button> -->
          <lightning-button
            id="save"
            class="slds-var-p-around_small"
            type="submit"
            label="Save & Close"
            disabled={disableSave}
            onclick={handleSaveAndClose}>
          </lightning-button>
<!--          <c-cc_remote-pay-email-short-code record-id={recordId}></c-cc_remote-pay-email-short-code>-->
            <lightning-button id="cancel"
                              class="slds-var-p-around_small"
                              type="button"
                              label="Discard & Close"
                              onclick={showCancelModal}>

            </lightning-button>
        </div>
      </lightning-card>                      
    </div>
    <br/>
  </article>
</template>