<!--
 - Created by Matt on 7/29/2021.
 -->

<!-- CC View Quote Docs -->
<template>
    <template if:true={isModalOpen}>
         <lightning-card class="slds-text-align_center">
                    <h1 slot="title" class="slds-text-title_caps test">
                        View Quote Documents
                    </h1>
            <template if:true={isLoading}>
                <lightning-spinner size="medium"></lightning-spinner>
            </template>
            <template if:false={isLoading}>
                    <template if:false={showDocsList}>
                        <div class="slds-align_absolute-center slds-p-around_medium">
                            <lightning-button variant="brand" title="Retrieve Documents" label="Retrieve Documents" onclick={callGetDocuments} class="slds-p-around_large">Retrieve Documents</lightning-button>
                        </div>
                    </template>
                    <template if:true={showNoDocsError}>
                        <div class="slds-align_absolute-center slds-text-title_caps slds-text-heading_large">
                            {noDocsErrorText}
                        </div>
                    </template>
                    <template if:true={showDocsList}>
                        <lightning-layout vertical-align="space" horizontal-align="center" class="slds-p-top_large">
                            <div class="datatableDiv">
                                <lightning-datatable key-field="docURI"
                                                     data={documents}
                                                     columns={columns}
                                                     onrowaction={handleRowAction}
                                                     hide-checkbox-column="true">
                                </lightning-datatable>
                            </div>
                        </lightning-layout>
                    </template>
                    <template if:true={docContents}>
                        <iframe id="pdfFrame" src={url} width="900" height="1000"></iframe>
                    </template>
                </template>
            </lightning-card>
    </template>
</template>